<% provide(:title, "Marquer") %>
<div id="mg-graph-identifier">savebc-gr</div>

<% if @resultSet.nil? %>
	//Error
<% else %>
  <script>
    var dataTagToJson = "<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>";
    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
<% end %>

<div id="mgs-readbc-bottom">
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div class="mgs-note">
          Code barre lu
        </div>
        <div class="mgs-read-bc">
          <p id="readBC" class="big-BC">
            <%= @readBC %>
          </p>
        </div>
        <div class="mgs-returnmsg">
          <span id="displaymsg" class="badge badge-primary-medium">Code barre reconnu</span>

        </div>
        <br>
        <div class="mgs-info">
          <i class="glyphicon glyphicon-tag"></i>&nbsp;<span id="curr-status">EXXX1234</span>
        </div>
        <div class="mgs-info">
          <%= @stepgeol %>
        </div>
        <hr>

        <form action="/save_step" method="post">
          <div class="form-group">
            <label for="exampleFormControlSelect1" class="lbl-opt">Nouvelle étape à marquer</label>
            <select name="stepstep" class="custom-select custom-select-lg mb-3" id="stepCtrl">
              <option value="X">Error XYZ1</option>
              <option value="Y">Error XYZ2</option>
              <option value="Z">Error XYZ3</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="stepcomment" placeholder="Commentaire" id="stpcmt" rows="3" style="resize: none;"></textarea>
          </div>


          <input type="submit" name="formSubmit" class="btn btn-default btn-lg btn-block" id="mg-save-step-btn"
                  value="Enregistrer une étape"/>
					<div class="pos-center blc-cancel">
						<a href="/" id="btn-print-12-no-track" class="btn btn-default-light btn-sm btn-block">Annuler&nbsp;<i class="glyphicon glyphicon-remove-sign"></i></a>
					</div>
          <textarea class="form-control step-hid" rows="1" id="read-cb-id" name="stepcbid" placeholder="code barre id" style="resize: none;"></textarea>
          <textarea class="form-control step-hid" rows="1" id="read-mwfk" name="stepmwfid" placeholder="code barre id" style="resize: none;"></textarea>
          <textarea class="form-control step-hid" rows="1" id="read-rwfk" name="steprwfid" placeholder="code barre id" style="resize: none;"></textarea>
          <textarea class="form-control step-hid" rows="1" id="read-step-txt" name="steptxt" placeholder="code barre" style="resize: none;">Err</textarea>

          <textarea class="form-control step-hid" rows="1" id="read-cb" name="stepcb" placeholder="code barre" style="resize: none;"><%= @readBC %></textarea>
          <textarea class="form-control step-hid" rows="1" id="step-geol" name="stepgeol" placeholder="geolocalization" style="resize: none;"><% if @stepgeol %><%= @stepgeol %><% else %>N<% end %></textarea>

          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


        </form>

    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
