<% provide(:title, "Client Manager") %>
<div id="mg-graph-identifier">cltmng-gr</div>
<%= render 'partner/partnerutils' %>
<% if @resultSet.nil? %>
	//Error
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
		//Initalize JSON Array
		for(i=0; i<dataTagToJsonArray.length; i++){
			dataTagToJsonArray[i].enc_client_ref = mgsEncodeClientRef(dataTagToJsonArray[i].firstname, dataTagToJsonArray[i].id, dataTagToJsonArray[i].client_ref);
			dataTagToJsonArray[i].raw_data = dataTagToJsonArray[i].name.toUpperCase() +
																				dataTagToJsonArray[i].firstname.toUpperCase() +
																				dataTagToJsonArray[i].email.toUpperCase() +
																				dataTagToJsonArray[i].enc_client_ref.toUpperCase();

			if(dataTagToJsonArray[i].owner_id == null){
				dataTagToJsonArray[i].totalbc = parseInt(dataTagToJsonArray[i].totalbc) -1;
			}
		}
		// We init here the filter value
		var filteredDataTagToJsonArray = dataTagToJsonArray.slice(0);

  </script>
<% end %>
<%= render 'layouts/dirtycsv' %>


<div class="row">
  <div class="col-lg-12">
    <h1>Client.e.s</h1>
  </div>
</div>

<%= render 'layouts/dashboarddialog' %>
<input id="auth-token-s" type="hidden" name="authenticity_token" value="<%= @getAuthToken %>">

<%-# We display the filter only if there is data to filter -%>
<% unless @emptyResultSet %>
		<div class="row filter-banner" id="filter-block">


			<div class="col-sm-2 fil-el-txt">
				&nbsp;<span><i id='nb-el-dash'>0</i>&nbsp;trouvé(s)</span>
			</div>
			<div class="col-sm-6">
		  </div>

			<div class="col-sm-3 fil-el">
				<textarea class="form-control" rows="1" id="filter-all" placeholder="Filtrez min. 3 caractères" style="resize: none;"></textarea>
		  </div>
			<div class="col-sm-1 fil-el">
				<button id="re-init-dash" type="button" class="btn btn-md btn-block btn-default">
					<i class="glyphicon glyphicon-refresh"></i>
				</button>

			</div>
		</div>
<% end %>


<div class="mgs-note mgs-note-mrg-grid">
  Cet écran est optimisé pour une utilisation ordinateur ou tablette.<% unless @maxRowParamMD.nil? %><%= @maxRowParamMD.to_s %><% end %>
</div>
<% if @emptyResultSet %>
  <div class="col-sm-12 no-data">
    Désolé, vous n'avez pas encore de client &nbsp; <i class="glyphicon glyphicon-inbox"></i>
  </div>
<% end %>

<% if !@emptyResultSet %>
	<div class="row">
	  <div class="col-sm-12">
	    <div id="jsGrid">
	    </div>
	  </div>
	</div>
	<br><br>
	<div class="row">
	  <div class="col-lg-3">
	  </div>
		<div class="col-lg-3">
	  </div>
		<div class="col-lg-3">
	  </div>
		<div class="col-lg-3">
				<button id="mgs-print-csv" class="btn btn-default-light btn-md btn-block">Exporter CSV &nbsp; <i class="glyphicon glyphicon-th"></i>
				</button>
	  </div>
		<div class="col-sm-12 mgs-med-note">
			<hr>
			Le bouton&nbsp; <i class="c-w glyphicon glyphicon-stop"></i> &nbsp;indique que vous créez un code barre pour une livraison à votre local.<br>
			Le bouton&nbsp; <i class="c-b glyphicon glyphicon-move"></i> &nbsp;indique que vous créez un code barre pour enlèvement.<br>
			La colonne&nbsp; <i class="glyphicon glyphicon-list-alt"></i> &nbsp;indique le nombre de code barre pour ce client actuellement.<br>
			La colonne&nbsp; <i class="glyphicon glyphicon-duplicate"></i> &nbsp;indique si le client a le pouvoir de création, c'est à dire si vous l'avez authorisé à créer lui-même des codes barres.<br>

			La colonne&nbsp; <i class="glyphicon glyphicon-ok"></i> &nbsp;indique que le client a le droit de créer des suivi/codes barres.<br>
			La colonne&nbsp; <i class="glyphicon glyphicon-remove"></i> &nbsp;indique que le client n'a pas le droit de créer des suivi/codes barres.
		</div>
	</div>
<% end %>
