<div class="row">
  <div class="col-sm-4">
    <div class="crt-block">Paquet</div>
    <div class="t-of-use mgs-med-note">
      Les informations suivantes concernent le paquet.
    </div>
    <label>Statut actuel</label><br>
    <div class="field-big">
      <%= @resultSet[0]['step'].to_s %>
    </div>
    <label>Description du status</label><br>
    <div class="field-sm">
      <%= @resultSet[0]['description'].to_s %>
    </div>
    <% if !(@resultSet[0]['ext_ref'].nil?) %>
        <label>Référence externe</label><br>
        <div class="field-md">
          <%= @resultSet[0]['ext_ref'].to_s %>
        </div>
    <% end %>
    <label>Partenaire</label><br>
    <div class="field-md">
      <%= @resultSet[0]['part_name'].to_s %>
    </div>
    <div class="crt-block">Livraison chez le partenaire</div>
    <div class="t-of-use mgs-med-note">
      Si vous avez décidé de faire livrer votre colis chez notre partenaire, vous devez le faire aux informations suivantes.
    </div>
    <label>À quelle adresse faire livrer votre colis ?</label><br>
    <div class="field-md">
      <%= @resultSet[0]['delivery_addr'].to_s %>
    </div>
    <div class="t-of-use mgs-med-note-imp">
      <strong><i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Astuce importante</strong>&nbsp;lorsque vous commandez, dans le champs adresse, indiquez la référence <strong><i id="bc-ref-del" class="font-mono"></i></strong>.
      Cela permettra au partenaire d'identifier rapidement votre paquet et vous évitera des risques d'erreur.<br>
      <hr>
      Exemple:<br>
      Andry RAKOTO - <strong><i id="del-add-ex" class="font-mono"></i></strong> <br>
      <%= @resultSet[0]['delivery_addr'].to_s %>
    </div>
    <div class="crt-block">Création</div>

    <label>Code barre créé par</label><br>
    <div class="field-md">
      <%= @resultSet[0]['cname'].to_s %>&nbsp;<%= @resultSet[0]['cfirstname'].to_s %>
    </div>
    <label>Téléphone</label><br>
    <div class="field-md">
      <%= @resultSet[0]['cphone'].to_s %>
    </div>
    <label>Email</label><br>
    <div class="field-md">
      <%= @resultSet[0]['cemail'].to_s %>
    </div>
    <label>Date de création</label><br>
    <div class="field-md">
      <%= @resultSet[0]['create_date'].to_s %>
    </div>
  </div>
  <div class="col-sm-4">

    <div class="crt-block">Poids</div>
    <div class="t-of-use mgs-med-note">
      Poids en grammes.
    </div>
      <% unless (@resultSet[0]['weight_in_gr'].nil?) || (@resultSet[0]['weight_in_gr'].to_i == 0) %>
    <div class="field-big">
        <%= number_with_delimiter(@resultSet[0]['weight_in_gr'].to_i, :delimiter => ' ') %>
      <% else %>
    <div class="field-md">
        Non renseigné pour l'instant
      <% end %>
    </div>
    <div class="crt-block">Propriétaire</div>
    <div class="t-of-use mgs-med-note">
      Les informations suivantes concernent le propriétaire du paquet.
    </div>
    <label>Propriétaire</label><br>
    <div class="field-big">
      <%= @resultSet[0]['oname'].to_s %>&nbsp;<%= @resultSet[0]['ofirstname'].to_s %>
    </div>
    <label>Email</label><br>
    <div class="field-md">
      <%= @resultSet[0]['oemail'].to_s %>
    </div>
    <label>Téléphone</label><br>
    <div class="field-md">
      <%= @resultSet[0]['ophone'].to_s %>
    </div>





  </div>
  <div class="col-sm-4">
    <div class="crt-block">Réception</div>
    <div class="t-of-use mgs-med-note">
      Information concernant la réception.
    </div>
    <label>Destination finale où récupérer le colis</label><br>
    <div class="field-md">
      <%= @resultSet[0]['pickup_addr'].to_s %>
    </div>
    <% if (@resultSet[0]['tname'].nil?) || (@resultSet[0]['tname'] == @resultSet[0]['oname']) %>
      <label>Receptionneur.euse</label><br>
      <div class="field-md">
        <%= @resultSet[0]['oname'].to_s %>&nbsp;<%= @resultSet[0]['ofirstname'].to_s %>
      </div>
      <label>Téléphone</label><br>
      <div class="field-md">
        <%= @resultSet[0]['ophone'].to_s %>
      </div>
    <% else %>
      <label>Receptionneur.euse</label><br>
      <div class="field-md">
        <%= @resultSet[0]['tname'].to_s %>&nbsp;<%= @resultSet[0]['tfirstname'].to_s %>
      </div>
      <label>Téléphone</label><br>
      <div class="field-md">
        <%= @resultSet[0]['tphone'].to_s %>
      </div>
    <% end %>

    <div class="crt-block">Vérification</div>
    <div class="t-of-use mgs-med-note">
      En cas de contrôle lors de la remise en main propre, il sera demandé la pièce d'identité mais il est aussi possible de demander ce code.
    </div>
    <label>Code de vérification</label><br>
    <div class="field-md">
      <%= @resultSet[0]['secret_code'].to_s %>
    </div>

    <% if !(@resultSet[0]['p_name_firstname'].nil?) %>
      <div class="crt-block">Enlèvement&nbsp;<i class="c-b glyphicon glyphicon-arrow-up"></i></div>
      <div class="t-of-use mgs-med-note">
        Information concernant l'enlèvement.
      </div>
      <label>Nom du contact enlèvement</label><br>
      <div class="field-md">
        <%= @resultSet[0]['p_name_firstname'].to_s %>
      </div>
      <label>Téléphone du contact enlèvement</label><br>
      <div class="field-md">
        <%= @resultSet[0]['p_phone'].to_s %>
      </div>
      <label>Adresse enlèvement</label><br>
      <div class="field-md">
        <%= @resultSet[0]['p_address_note'].to_s %>
      </div>
    <% end %>

  </div>
</div>
