<% provide(:title, "Code barre") %>
<div id="mg-graph-identifier">pereone-gr</div>
<% if @resultSet.nil? %>
	//Error TDY789
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
<% end %>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>

<div class="row mgs-title">
  <div class="col-lg-12 monosp-ft-title">
    <span id="bc-seeone">Code barre</span>
    <span id="id-seeone"><%= @resultSet[0]['id'].to_s %></span>
    <span id="sec-seeone"><%= @resultSet[0]['secure'].to_s %></span>
  </div>
</div>
<div class="mgs-note mgs-note-mrg-grid">
  Cet écran est optimisé pour une utilisation ordinateur ou tablette.
</div>

<% if @resultSet[0]['step_id'] == 0 %>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <%= render 'persoresel/nouveautoadresse' %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <hr>
<% end %>
<%= render 'persoresel/mainseeone' %>
