<% provide(:title, "Suivi") %>
<div id="mg-graph-identifier">pereone-gr</div>

<% if @resultSet.nil? %>
	//Error TDY789
  <script>
    var dataTagToJsonArray = "";
  </script>
<% else %>
  <script>
    var dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    var dataTagToJsonArray = JSON.parse(dataTagToJson);

		var dataTagToJsonStepWF = '<%= @resultSetStepWorkflow.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    dataTagToJsonStepWF = dataTagToJsonStepWF.replace(/&quot;/g,"\"");
    var dataTagToJsonStepWFArray = JSON.parse(dataTagToJsonStepWF);

  </script>
<% end %>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
</style>

<div class="row mgs-title">
  <div class="col-lg-12 monosp-ft-title">
    <span id="bc-seeone">Suivi</span>
    <span id="id-seeone"><%= @resultSet[0]['id'].to_s %></span>
    <span id="sec-seeone"><%= @resultSet[0]['secure'].to_s %></span>
  </div>
	<div class="col-lg-12 monosp-ft-title-mini">
    appartenant à <%= encode_client_ref(@resultSet[0]['ofirstname'].to_s, @resultSet[0]['oid'].to_s, @resultSet[0]['oclient_ref'].to_s) %>
  </div>
</div>
<% if @screenClient %>
	<%= render 'persoresel/displayworkflow' %>
<% end %>
<div class="mgs-note mgs-note-mrg-grid">
  Cet écran est optimisé pour une utilisation ordinateur ou tablette.
</div>

<% if (@resultSet[0]['step_id'] == 0) && (@resultSet[0]['type_pack'] == 'P') %>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
				<%= render 'persoresel/wfrtopickup' %>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
<% end %>


<div id="add-inf-blc">
	<%= render 'persoresel/additionnalinformation' %>
</div>

<%= render 'persoresel/mainseeone' %>
